
h1 {
    text-align: center;
    font-size: 50px;
}


.container {
    position: relative;
    width: 500px;
    height: 500px;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }
  
  .foreground {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
    max-width: 100%;
    max-height: 100%;
  }


  .radio-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 600px;
    margin-top: -70px;
    gap: 10px;
}

.radio {
    input[type="radio"] {
        display: none;
    }

    & input[type="radio"]:checked + label {
        background-color: #23509c;
        border-color: #23509c;
        color: #ccc;
    }

    &.background label {
        font-size: 0px;
        background-color: none;
        border-color: transparent;
    }

    label {
        display: block;
        padding: 15px;
        cursor: pointer;
        font-weight: bold;
        border: 2px solid #c1d3ef;
        border-radius: 30px;
        color: #c1d3ef;
    }

    label:hover {
        border-color: #699cf5;
        color: #699cf5;
    }
}