
<h1>Alpaca Generator</h1>

<div class="container">
<img src="assets/backgrounds/blue50.png" alt="background image" class="background">
<img src="assets/ears/default.png" alt="ears image" class="foreground">
<img src="assets/eyes/default.png" alt="eyes image" class="foreground" style="z-index: 2;">
<img src="assets/hair/default.png" alt="hair image" class="foreground">
<img src="assets/neck/default.png" alt="neck image" class="foreground">
<img src="assets/mouth/default.png" alt="mouth image" class="foreground">
</div>

<div *ngFor="let property of properties | keyvalue">
{{property.key}}
</div>